:root {
	--green: #375137;
	--greener: #1f3725;
	--greenest: #112713;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--green);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--light);
	margin-bottom: 1rem;
}

#new-product-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-product-input {
	flex: 1 1 0%;
	background-color: var(--greener);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-product-input::placeholder {
	color: var(--light);
}

#new-product-submit {
	color: var(--purple);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--purple), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-product-submit:hover {
	opacity: 0.8;
}

#new-product-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.product-list {
	background-color: var(--light)
;

	padding: 1rem;
}

.product-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--greenest);
	margin-bottom: 1rem;
}

#products .product {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.product .content {
	flex: 1 1 0%;
}

.product .content .text {
	color: var(--greenest);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.product .content .text:not(:read-only) {
	color: var(--purple);
}

.product .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.product .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.product .actions button:hover {
	opacity: 0.8;
}

.product .actions button:active {
	opacity: 0.6;
}

.product .actions .edit {
	background-image: linear-gradient(to right, var(--greenest), var(--greenest));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.product .actions .delete {
	color: crimson;
}